
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.body{
    margin: 0;
    padding: 0;
}
.jv-header-title{
    background-color:#c2b4e3;
    height: auto;
    color:#fff;
}
.jv-header-logo img{
    height: 110px;
}
.img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}
.top1-container{
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        background-color: #c2b4e3;
        background-size: cover;
        height: 50px;
        margin-bottom: 0;
}
.menu-top a{
  margin-left: 10px;
  margin-right: 20px;
}

.logo{
    max-width: 110px;
}
.logo img{
    max-width: 100%;
    margin-left: 50px;
    margin-top: 8px;
}
.menu{
    display:flex;
}
.menus img{
  justify-content: center;
  margin-top: 20px;
}
.top2-container {
  max-width: auto;
}

.top1-container .study .menu{
  max-width: 1400px;
}

.menu a {
    color: rgb(66, 32, 160);
    text-decoration: none;
    margin-left: 30px;
}
.study{
    justify-content: left;
    margin-left: 50px;
}
.menu-list{
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.menu-list {
  height:100px ;
}
.main {
  margin-top: -100px;
}
      ul li {
         list-style: none;
         font-size: 18px;
      }
      
      ul li button {
          font-size: inherit;
          border: none;
          background-color: transparent;
          cursor: pointer;
          width: 100%;
      }
      
      ul li a {
         display: block;
         color: inherit;
         text-decoration: none;
      }
      
      ul li a, ul li button {
        padding: 0.7rem 1rem;
        text-align: left;
      }
.menus {
  justify-content: flex-end;
  display: flex;
  margin-top: -80px;
  left: 0;
  right: 0;
  left: 20px;



  

/*  hide dropdown on small screens  */
   visibility: hidden;
  /*  smooth transitioning  */
  transform: translateY(-1em);
  transition: transform ease 0.2s;
}
.button img{
  margin-top: 10px;
  margin-left: 10px;
}
      
      /* toggle main dropdown */
      
      .dropdown {
        padding: 2px 1.5rem;
        height: 0;
        overflow: hidden;
        transition: height ease 0.2s;
      }
      
      li:focus-within .dropdown {
        height: 135px;
      }
      
      .arrow {
        width: 0.5em;
        height: 0.5em;
        display: inline-block;
        vertical-align: middle;
        border-left: 0.15em solid currentColor;
        border-bottom: 0.15em solid currentColor;
        transform: rotate(-45deg);
        margin-left: 0.38em;
        margin-top: -0.25em;
        transition: transform 100ms ease-in-out;
      }
      
      li:focus-within > button > .arrow {
        transform: rotate(-225deg);
        margin-top: 4px;
      }
      
      /* MEDIA QUERIES  */
      @media (min-width: 640px) {
        
        .header-content {
          display: flex;
        }
        
        .menus {
          position: static;
          visibility: visible;
          background: rgb(255, 255, 255);
          display: flex;
          transform: initial;
        }
        
        
        ul li {
          position: relative;
          font-size: 14px;
        }
        
        ul li a:hover,
        ul li button:hover {
        background-color: #ffffff;
        }
        
        .dropdown {
          position: absolute;
          right: 0;
          left: auto;
          box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
          0 4px 6px -2px rgba(71, 63, 79, 0.16);
          z-index: 99;
          min-width: 10rem;
          padding: 0;
          background-color: rgb(255, 255, 255);
          border-radius: 2px; 
        }
        .dropdown li a{
          text-align: left;
        }
        
        ul li:hover .dropdown {
          height: 135px;
        }
        
        ul li:hover > button > .arrow {
          transform: rotate(-225deg);
          margin-top: 4px;
        }
      }
.logo img{
    padding-top: -110px;
}
.icons{
    float: right;
    margin: 10px;
}
.id{
    border-radius: 30px;
}
.pattren{
    background-image: url(./img/pattren.png);
    background-size: contain;
    height: 50px;
}
/**slider**/

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

/*video */

.bg {
  width: 700px;
  height: 50px;
  background: url(./img/pattren.png);
  overflow: hidden;
  position: relative;
  margin: 20px;
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 700px;
  background: rgb(208,171,215);
  border-radius: 10px;
}
.overlay h2{
  color: #fff;
  display: flex;
  margin-left:65px;
  margin-top: -25px;
  text-align: center;
  justify-content: space-between;
  justify-items: left;
}
.overlay img{
  margin-top: 10px;
  margin-left:20px;
}
.jalan-jalan h2{
  color: rgb(0, 0, 0);
  display: flex;
  margin-left:150px;
  margin-top: -25px;
  text-align: center;
  justify-content: space-between;
  justify-items: left;
}
.top4{
  height: 30px;
  width: 30px;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  box-sizing: content-box;
  border-radius: 100%;
  color:#ffffff;
  position: center;
}
.top4 a{
  position:absolute;
  margin-left: -8px;

  margin: -5px -7px;
}
.list-img{
  background-image: url(./img/thumb_shibuya.jpg);
}
/*baru2*/
.img-youtube img{
  height: 250px;
  width: 400px;
  border-radius: 15px;
}
.img-youtube{
  position: relative;
  margin-left: 20px;
}
.jv-list-body a .jv-list-txt p{
  margin: 200px;
}

/*baru4*/
#slideWrap span {
background: #c80d0d;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 0;
    padding: 0px 10px 0px 25px;
    height: 26px;
    z-index: 10;
    display: flex;
    align-items: center; 
}
#slideWrap span::after{

  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  border-left: 5px solid #c80d0d;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #c80d0d;
  border-top: 13px solid #c80d0d;
}