
*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
.body{
    margin: 0;
    padding: 0;
}
.logo img{
  height: 110px;
}
.top1-container{
  background: rgb(188, 161, 214);
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  background-size: cover;
  height: 50px;
  margin-bottom: 0;    
}
.top1-container a{
  color: rgb(255, 255, 255);
}

.logo img{
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  float: left;
}
.navbar {
  overflow: hidden;
  background-color: rgb(191, 82, 200);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: rgb(255, 114, 114);
  height: 80px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  
  
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 255);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(255, 141, 203);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown a{
  text-align: center;
  display: flex;
}
.dropdown img{
  height: 25px;
  width: 25px;
}
.navbar .dropdown{
  justify-items: end;
  display: block;

} 
