
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    border: 1px solid rgb(209, 186, 123);
	  -webkit-box-sizing:border-box;
	  -moz-box-sizing:border-box;

}
.body{
    margin: 0;
    padding: 0;
}
.logo img{
  height: 110px;
}
.top1-container{
  background: rgb(188, 161, 214);
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  background-size: cover;
  height: 50px;
  margin-bottom: 0;    
}
.top1-container a{
  color: rgb(255, 255, 255);
}
.menu-top a{
  margin-left: 10px;
  margin-right: 20px;
  color: #fff;
}

.menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 30px;
}
.study{
  justify-content: left;
  margin-left: 50px;
}
.menu-list{
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.menu-list {
height:100% ;
}
.main {
margin-top: -100px;
}
    ul li {
      list-style: none;
      justify-content: center;
      font-size: 18px;
    }
    
    ul li button {
        font-size: inherit;
        border: none;
        background-color: transparent;
        cursor: pointer;
        width: 100%;
    }
    
    ul li a {
      color: inherit;
      text-decoration: none;
}

ul li a, ul li button {
  padding: 0.7rem 1rem;
  text-align: left;
}
.menus {
  justify-content: flex-end;
  display: flex;
  margin-top: -80px;
  left: 0;
  right: 0;
  left: 20px;
}
.id{
  display: flex;

}


/*  hide dropdown on small screens  */
.button img{
margin-top: 10px;
margin-left: 10px;
}
   
   /* toggle main dropdown */
   
   .dropdown {
     padding: 2px 1.5rem;
     height: 0;
     overflow: hidden;
     transition: height ease 0.2s;
   }
   
   li:focus-within .dropdown {
     height: 135px;
   }
   
   .arrow {
     width: 0.5em;
     height: 0.5em;
     display: inline-block;
     vertical-align: middle;
     border-left: 0.15em solid currentColor;
     border-bottom: 0.15em solid currentColor;
     transform: rotate(-45deg);
     margin-left: 0.38em;
     margin-top: -0.25em;
     transition: transform 100ms ease-in-out;
   }
   
   li:focus-within > button > .arrow {
     transform: rotate(-225deg);
     margin-top: 4px;
   }
   
   /* MEDIA QUERIES  */
     
     .header-content {
       display: flex;
     }
     
     .menus {
       position: static;
       visibility: visible;
}

        
        
ul li {
  position: relative;
  font-size: 14px;
  text-align: center;
  display: flex;
  }
        
ul li a:hover,
ul li button:hover {
  background-color: #ffffff;
}
        
.dropdown {
  position: absolute;
  right: 0;       
  left: auto;     
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),        
  0 4px 6px -2px rgba(71, 63, 79, 0.16);
  z-index: 99;
  min-width: 10rem;
  padding: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;        
}
.dropdown li a{
  text-align: left;
}
        
ul li:hover .dropdown {
  height: 135px;
}
        
  
      
li:focus-within .dropdown {
  height: 135px;
}
      
.arrow {
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform: rotate(-45deg);
  margin-left: 0.38em;
  margin-top: -0.25em;
  transition: transform 100ms ease-in-out;
}
      
li:focus-within > button > .arrow {
  transform: rotate(-225deg);
  margin-top: 4px;
}
      
/* MEDIA QUERIES  */
        
.header-content {
  display: flex;
}
        
.menus {
  position: static;
  visibility: visible;
}

.mySlides {display: none;}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.pattren{
  background-image: url(./img/pattren.png);
  background-size: cover;
  height: 50px;
  margin-top: -10;
}
.top2-container{
  bottom: ;
}

